<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

    <!-- 添加注解驱动 -->
    <mvc:annotation-driven/>
    <!-- 通过mvc:resources设置静态资源，这样servlet就会处理这些静态资源，而不通过控制器
         设置不过滤内容，比如:css,js,img 等资源文件
         location指的是本地的真是路径，mapping指的是映射到的虚拟路径。-->
    <mvc:resources mapping="/static/**" location="/static/"/>

    <!-- 配置自动扫描的包 -->
    <context:component-scan base-package="com.ajb.study.controller"/>
    <context:component-scan base-package="soundSystem"/>
    <context:component-scan base-package="aopDemoPackge"/>
    <context:component-scan base-package="webServiceDemo"/>
    <context:component-scan base-package="com.ajb.study.controller"/>

    <!-- 配置视图解析器 如何把handler 方法返回值解析为实际的物理视图 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/static/html/"></property>
        <property name = "suffix" value = ".html"></property>
    </bean>
</beans>